<br>
<div class="text-center">
  <!--<div class="card " style="width: 20rem;">-->
  <div class="card-block">
    <h4 class="card-title alert alert-success text-center">Update Profile</h4>
    <hr>
    <!--</div>-->
  </div>
</div>
<br>
<br>


<div class="mainForm jumbotron">
  <div class="container">

    <form [formGroup]="fStudentData" (ngSubmit)="onAddDetails(fStudentData)" enctype="multipart/form-data" role="form" action="POST">


      <div class="row">
        <div class="col-sm-4">


          <image-upload buttonCaption="Upload Image" dropBoxMessage="Drag your Image here" clearButtonCaption="Clear" [max]="1" [extensions]="['jpeg','png']"
            (removed)="onRemoved($event)" (uploadFinished)="onUploadFinished($event)" (uploadStateChanged)="onUploadStateChanged($event)"
            name="profileImage" formcontrolName="ProfileImage">
          </image-upload>



        </div>

        <div class="col-sm-8">

          <div class="row">
            <br>

            <div class="col-md-6">

              <!--<form [formGroup]="fStudentData" (ngSubmit)="onAddDetails(fStudentData)" role="form" action="POST">-->

              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" placeholder="Email" name="email" formControlName="Email" />
              </div>

              <div class="form-group">
                <label for="birthDate">Birth Date</label>
                <input class="form-control" type="date" placeholder="Birth Date" name="birthDate" formControlName="BirthDate" />
              </div>


              <div class="text-center">
                <div class="btn">
                  <input type="submit" value="Submit" class="btn btn-success" />
                </div>
                <div class="btn">
                  <input type="reset" value="Reset" class="btn btn-danger" />
                </div>
              </div>

              <!--</form>-->

            </div>


            <div class="col-xs-6">

              <!--<button type="button" (click)="getImage()">Get image</button><br>-->

              <img src={{imageURL}} style="max-height: 200px; max-width: 200px;" />
              <!--<img [src]="imageURL">-->
            </div>


          </div>

        </div>



      </div>
    </form>

  </div>
</div>


<!--Display records-->

<div class="container">
  <button type="button" class="btn btn-danger" (click)="getAllData()" data-toggle="collapse" data-target="#demo">Get all Record</button>
  <div id="demo" class="collapse">



    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Profile Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of studentAllRecord">
            <td>{{item.id}}</td>
            <td><a href="{{item.email}}">{{item.email}}</a> </td>
            <td>{{item.birthDate| date:'longDate'}}</td>
            <td> <img src={{item.profileImage}} style="max-height: 50px; max-width: 50px;" /> </td>

          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>



<div class="container">

  <ul *ngIf="!studentAllRecord">
    <li *ngFor="let item of studentAllRecord">
      <a href="{{item.email}}">
        {{item.email}}
      </a>

    </li>
  </ul>

</div>